
.text-point {
  color: #33a0ff !important;
}

.line-bottom {
  border-bottom: 2px solid black;
}
.bg-button {
  background-color: #f6f7f8;
}

.length-button-1 {
  width: 60px !important;
}

.text-detail {
  color: #2e90e5;
  font-size: 18px;
}

.text-detail:hover {
  cursor: pointer;
}

.product-bg {
  background-color: #fafafb;
  padding: 0 25px;
}

.product-gallery {
  padding: 20px 0;
}

.border-bottom-review {
  /* -bottom: 20px; */
  border-bottom: 4px solid #e5e8ea;
}

.product-main-history {
  font-size: 26px;
  color: black;
}

.product-detail-history {
  font-size: 20px;
  color: blue;
}

.product-setup-history {
  text-align: center;
}

.product-button-history-enable {
  background: #007bff;
  border-color: aqua;
  color: white;
}

.product-button-history-disable {
  background: #444444;
  border-color: aqua;
  color: white;
}

#history-p-product {
  padding: 10px 20px;
}

#infor-product {
  padding: 40px 127px;
}

#infor-product .image-product {
  padding-right: 25px;
}

#infor-product .image-product img {
  height: 280px;
  width: auto;
}

#infor-product .info-name {
  padding-bottom: 10px;
}

#infor-product .detail-name-star {
  padding-bottom: 20px;
  /* border-bottom: 3px solid #f6f7f8; */
}

#infor-product .info-price {
  padding-bottom: 20px;
}

#infor-product .detail-price-method {
  padding-top: 20px;
}

#infor-product .info-method-discount {
  width: 250px;
  padding-bottom: 15px;
}

#infor-product .info-method .info-method-discount {
  grid-template-columns: 30% 70%;
  text-align: left;
  padding-left: 15px;
  width: auto;
}

#infor-product .info-quantity-cart {
  /* background-color: #f6f7f8; */
  /* color: #33a0ff; */
  width: calc(100% - 20px);
}

.info-quantity {
  background-color: #f6f7f8;
  border-radius: 5px;

  /* width: calc(100% - 20px); */
}

.info-quantity button {
  background-color: transparent;
  border: none;
  height: 48px;
 /* width: 40px;*/
}

#infor-product .info-quantity-cart .info-cart {
  background-color: #cee5f8;
  /* letter-spacing: 0.09rem; */
  border-radius: 5px;
}

#infor-product .info-cart span {
  /* padding-left: 15px; */
  font-size: 16px;
}

#infor-product .detail-review .text-description {
  /* background-color: #fafafb; */
  padding-bottom: 15px;
  color: #9098b1;
  line-height: 180%;
  letter-spacing: 0.5px;
}

#infor-product .related-product .best-seller-group {
  grid-template-columns: repeat(4, 1fr);
  /* margin: 30px 90px 20px 90px; */
  gap: 20px;
}

#infor-product .related-product .best-seller-group .best-seller-item-image {
  border-radius: 5px;
}
#main_support_pro_detail .owl-stage-outer {
  height: 250px;
}

#main_support_pro_detail .owl-item {
  display: flex;
  justify-content: center;
  margin-right: 0 !important;
  /* width: 165px !important; */
}

#main_support_pro_detail .owl-item img {
  width: 150px;
  height: 150px;

}
#main_support_pro_detail .owl-stage {
  display: flex;
  /* padding-top: 20px; */
  justify-content: center;
}

#main_support_pro_detail .owl-next,
#main_support_pro_detail .owl-prev {
  width: 4.5px;
}

@media screen and (max-width: 820px) {
  #infor-product {
    padding: 20px 50px;
  }

  #infor-product .row .best-seller-group {
    display: none;
  }

  /* #infor-product .row .image-product {
    flex: 0 0 40%;
    max-width: 40%;
  }

  #infor-product .row .detail-product {
    flex: 0 0 60%;
    max-width: 60%;
  } */
  #infor-product .info-quantity-cart {
    justify-content: space-around !important;
  }

  #infor-product .detail-review #root_comment .user-data {
    width: auto !important;
  }

  #infor-product .detail-review #root_comment .user-data .sc-user-input {
    display: flex;
  }
}

