
.timeline-container {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
.title {
  display: flex;
  margin-bottom: 20px;
}
.title > p {
  line-height: 100%;
  margin: 0;
}
.data-wrapper {
  flex-flow: nowrap;
  margin-bottom: 5px;
}
.data-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.data-index-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  transition: height 0.3s ease;
}
.data-index-wrapper:hover{
  height: 44px;
}
.data-index {
  font-size: 18px;
  font-weight: 1000;
}
#aqi-explain {
  width: 100%;
  text-align: center;
  box-shadow: "5px 8px 24px 5px rgba(208, 216, 243, 0.6)";
}
